# Python
__pycache__/
*.py[cod]
*.class
backend/venv/
venv/
*.db
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment & logs
.env
*.log
.DS_Store
.idea/
# Archives & Templates
*.zip
